.modal__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #878787, $alpha: 0.5);
  .modal {
    position: sticky;
    top: 15%;
    
    width: 100%;
    height: 100vh;
    .modal__image {
      max-width: 70%;
      max-height: 70vh;
    }
  }
}